USE [DATOS_COBRANZAS]
GO
/****** Object:  StoredProcedure [dbo].[chat_consultar_deuda]    Script Date: 30/06/2026 11:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[chat_consultar_deuda]
    @nrorep smallint,   -- zona/vendedor. La APP lo inyecta por rol, NUNCA el modelo.
    @nrocli int         -- id interno del cliente
AS
BEGIN
    SET NOCOUNT ON;

    /* Guardarril de zona */
    IF NOT EXISTS (
        SELECT 1 FROM DATOS..CLIENTAS
        WHERE nrocli = @nrocli AND nrorep = @nrorep
    )
    BEGIN
        SELECT
            CAST(@nrocli AS int)      AS cliente_id,
            CAST(NULL AS varchar(80)) AS cliente,
            CAST(0 AS money)          AS saldo,
            CAST(0 AS money)          AS cheques_postdatados,
            CAST(0 AS money)          AS cheques_pend_acred,
            CAST(0 AS money)          AS deuda_total,
            CAST(NULL AS int)         AS dias_mora_max;
        RETURN;
    END

    /* Tabla para capturar el SELECT que devuelve ctacte_armado_sql.
       El SP crea/destruye su propia #ctacte_t internamente.
       Nosotros capturamos su output con INSERT EXEC. */
    CREATE TABLE #result (
        AFECTADO        varchar(30),
        vcden           varchar(800),   -- nombre + CUIT + domicilio concatenados
        TABLA_SQL       varchar(100),
        CLAVE1_SQL      varchar(15),
        CLAVE2_SQL      varchar(15),
        CLAVE3_SQL      varchar(15),
        CLAVE4_SQL      varchar(15),
        CLAVE5_SQL      varchar(15),
        NRO_REPAS       int,
        NRO_CLIAS       int,
        FECHA_FACT      smalldatetime,
        TIPO_COMP       char(1),
        TIPO_FACT       char(1),
        NRO_SER         smallint,
        NRO_FACT        int,
        TIPO_COMP2      char(1),
        TIPO_FACT2      char(1),
        NRO_SER2        smallint,
        NRO_COMP        int,
        TIPO_RECL       char(1),
        FECHA_RECL      smalldatetime,
        IMPORTE_D       money,
        IMPORTE_H       money,
        FECH_CANC       smalldatetime,
        OTRA_DESCR      varchar(50),
        ES_DEVUELT      bit,
        NRO_55          smallint,
        DIAS            int,
        ORDEN           int,
        ID_AUTOMATICA   int,
        ABREVIATURA     char(6),
        CH_POSTDATA     money,
        CH_XACREDIT     money,
        SALDO_COMPROBANTE money
    );

    DECLARE @hasta smalldatetime = CAST(GETDATE() AS smalldatetime);

    /* Captura el resultado del SP orquestador. */
    INSERT INTO #result
    EXEC dbo.ctacte_armado_sql
        @suc        = 0,
        @nrorep     = @nrorep,
        @nrocli     = @nrocli,
        @fechacanc  = '20360101',     -- futura = modo pendientes (activa DELETE cancelados)
        @fechadesde = '19000102',     -- desde origen (02 evita desborde en fecha-1)
        @fechahasta = @hasta,
        @tablaf     = 'DATOS..FACTURAP',
        @tablac     = 'DATOS_COBRANZAS..CCMINUTA',
        @tablar     = 'DATOS_COBRANZAS..RECIFACT',
        @tablai     = 'DATOS_COBRANZAS..INF_RECL',
        @ccDBSQL_pru= ' ',
        @saldini    = 0;

    /* Agrega: SUM debe-haber para saldo, MAX para cheques (estan en 1 sola fila). */
    SELECT
        c.nrocli                                               AS cliente_id,
        RTRIM(c.vcden)                                         AS cliente,
        SUM(r.IMPORTE_D - r.IMPORTE_H)                         AS saldo,
        ISNULL(MAX(r.CH_POSTDATA),  0)                         AS cheques_postdatados,
        ISNULL(MAX(r.CH_XACREDIT),  0)                         AS cheques_pend_acred,
        SUM(r.IMPORTE_D - r.IMPORTE_H)
            + ISNULL(MAX(r.CH_POSTDATA), 0)
            + ISNULL(MAX(r.CH_XACREDIT), 0)                    AS deuda_total,
        MAX(CASE WHEN r.SALDO_COMPROBANTE > 0 THEN r.DIAS END) AS dias_mora_max
    FROM DATOS..CLIENTAS c
    LEFT JOIN #result r
        ON r.NRO_CLIAS = c.nrocli AND r.NRO_REPAS = c.nrorep
    WHERE c.nrocli = @nrocli AND c.nrorep = @nrorep
    GROUP BY c.nrocli, c.vcden;

    DROP TABLE #result;
END
