USE [DATOS_COBRANZAS]
GO
/****** Object:  StoredProcedure [dbo].[chat_clientes_por_zona]    Script Date: 30/06/2026 11:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[chat_clientes_por_zona]
    @nrorep         smallint,
    @solo_con_deuda bit = 1
AS
BEGIN
    SET NOCOUNT ON;

    CREATE TABLE #result (
        AFECTADO        varchar(30),
        vcden           varchar(800),
        TABLA_SQL       varchar(100),
        CLAVE1_SQL      varchar(15),
        CLAVE2_SQL      varchar(15),
        CLAVE3_SQL      varchar(15),
        CLAVE4_SQL      varchar(15),
        CLAVE5_SQL      varchar(15),
        NRO_REPAS       int,
        NRO_CLIAS       int,
        FECHA_FACT      smalldatetime,
        TIPO_COMP       char(1),
        TIPO_FACT       char(1),
        NRO_SER         smallint,
        NRO_FACT        int,
        TIPO_COMP2      char(1),
        TIPO_FACT2      char(1),
        NRO_SER2        smallint,
        NRO_COMP        int,
        TIPO_RECL       char(1),
        FECHA_RECL      smalldatetime,
        IMPORTE_D       money,
        IMPORTE_H       money,
        FECH_CANC       smalldatetime,
        OTRA_DESCR      varchar(50),
        ES_DEVUELT      bit,
        NRO_55          smallint,
        DIAS            int,
        ORDEN           int,
        ID_AUTOMATICA   int,
        ABREVIATURA     char(6),
        CH_POSTDATA     money,
        CH_XACREDIT     money,
        SALDO_COMPROBANTE money
    );

    DECLARE @hasta smalldatetime = CAST(GETDATE() AS smalldatetime);

    INSERT INTO #result
    EXEC dbo.ctacte_armado_sql
        @suc        = 0,
        @nrorep     = @nrorep,
        @nrocli     = 0,              -- 0 = toda la zona
        @fechacanc  = '20360101',
        @fechadesde = '19000102',
        @fechahasta = @hasta,
        @tablaf     = 'DATOS..FACTURAP',
        @tablac     = 'DATOS_COBRANZAS..CCMINUTA',
        @tablar     = 'DATOS_COBRANZAS..RECIFACT',
        @tablai     = 'DATOS_COBRANZAS..INF_RECL',
        @ccDBSQL_pru= ' ',
        @saldini    = 0;

    SELECT
        c.nrocli                                               AS cliente_id,
        RTRIM(c.vcden)                                         AS cliente,
        SUM(r.IMPORTE_D - r.IMPORTE_H)                         AS saldo,
        ISNULL(MAX(r.CH_POSTDATA),  0)                         AS cheques_postdatados,
        ISNULL(MAX(r.CH_XACREDIT),  0)                         AS cheques_pend_acred,
        SUM(r.IMPORTE_D - r.IMPORTE_H)
            + ISNULL(MAX(r.CH_POSTDATA), 0)
            + ISNULL(MAX(r.CH_XACREDIT), 0)                    AS deuda_total,
        MAX(CASE WHEN r.SALDO_COMPROBANTE > 0 THEN r.DIAS END) AS dias_mora_max
    FROM DATOS..CLIENTAS c
    LEFT JOIN #result r
        ON r.NRO_CLIAS = c.nrocli AND r.NRO_REPAS = c.nrorep
    WHERE c.nrorep = @nrorep
    GROUP BY c.nrocli, c.vcden
    HAVING (@solo_con_deuda = 0
        OR  SUM(r.IMPORTE_D - r.IMPORTE_H)
              + ISNULL(MAX(r.CH_POSTDATA), 0)
              + ISNULL(MAX(r.CH_XACREDIT), 0) <> 0)
    ORDER BY deuda_total DESC;

    DROP TABLE #result;
END

