

USE [DATOS_COBRANZAS]
GO
/****** Object:  StoredProcedure [dbo].[chat_detalle_movimientos]    Script Date: 30/06/2026 11:53:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[chat_detalle_movimientos]
    @nrorep smallint,
    @nrocli int,
    @meses  int = 6
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM DATOS..CLIENTAS
        WHERE nrocli = @nrocli AND nrorep = @nrorep
    )
    BEGIN
        SELECT CAST('Sin acceso: cliente fuera de la zona' AS varchar(60)) AS nota;
        RETURN;
    END

    CREATE TABLE #result (
        AFECTADO        varchar(30),
        vcden           varchar(800),
        TABLA_SQL       varchar(100),
        CLAVE1_SQL      varchar(15),
        CLAVE2_SQL      varchar(15),
        CLAVE3_SQL      varchar(15),
        CLAVE4_SQL      varchar(15),
        CLAVE5_SQL      varchar(15),
        NRO_REPAS       int,
        NRO_CLIAS       int,
        FECHA_FACT      smalldatetime,
        TIPO_COMP       char(1),
        TIPO_FACT       char(1),
        NRO_SER         smallint,
        NRO_FACT        int,
        TIPO_COMP2      char(1),
        TIPO_FACT2      char(1),
        NRO_SER2        smallint,
        NRO_COMP        int,
        TIPO_RECL       char(1),
        FECHA_RECL      smalldatetime,
        IMPORTE_D       money,
        IMPORTE_H       money,
        FECH_CANC       smalldatetime,
        OTRA_DESCR      varchar(50),
        ES_DEVUELT      bit,
        NRO_55          smallint,
        DIAS            int,
        ORDEN           int,
        ID_AUTOMATICA   int,
        ABREVIATURA     char(6),
        CH_POSTDATA     money,
        CH_XACREDIT     money,
        SALDO_COMPROBANTE money
    );

    DECLARE @desde smalldatetime = CAST(DATEADD(month, -@meses, GETDATE()) AS smalldatetime);
    DECLARE @hasta smalldatetime = CAST(GETDATE() AS smalldatetime);

    INSERT INTO #result
    EXEC dbo.ctacte_armado_sql
        @suc        = 0,
        @nrorep     = @nrorep,
        @nrocli     = @nrocli,
        @fechacanc  = '20360101',
        @fechadesde = @desde,
        @fechahasta = @hasta,
        @tablaf     = 'DATOS..FACTURAP',
        @tablac     = 'DATOS_COBRANZAS..CCMINUTA',
        @tablar     = 'DATOS_COBRANZAS..RECIFACT',
        @tablai     = 'DATOS_COBRANZAS..INF_RECL',
        @ccDBSQL_pru= ' ',
        @saldini    = 0;

    SELECT
        CONVERT(varchar(10), FECHA_FACT, 103)                   AS fecha,
        RTRIM(ISNULL(AFECTADO,''))                              AS comprobante,
        IMPORTE_D                                               AS debe,
        IMPORTE_H                                               AS haber,
        SALDO_COMPROBANTE                                       AS saldo_comp,
        DIAS                                                    AS dias_mora
    FROM #result
    WHERE ISNULL(TIPO_COMP2,'') <> 'S'   -- excluye la fila de saldo inicial
    ORDER BY ORDEN, FECHA_FACT;

    DROP TABLE #result;
END
